<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Supportful Profiler</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/profiles" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>Profiles</ion-label>
            </ion-item>
            <ion-item routerLink="/clients" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ion-label>Clients</ion-label>
            </ion-item>
            <ion-item routerLink="/assignments" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="briefcase-outline"></ion-icon>
              <ion-label>Assignments</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Supportful Profiler</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
