<p>
  client-form works!
</p>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Edit Client' : 'New Client' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Company Name *</ion-label>
            <ion-input formControlName="companyName" type="text"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="clientForm.get('companyName')?.touched && clientForm.get('companyName')?.errors?.['required']">
            Company name is required
          </ion-note>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Industry *</ion-label>
            <ion-input formControlName="industry" type="text"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="clientForm.get('industry')?.touched && clientForm.get('industry')?.errors?.['required']">
            Industry is required
          </ion-note>
        </ion-col>

        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Primary Contact</ion-card-title>
            </ion-card-header>
            <ion-card-content formGroupName="primaryContact">
              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-label position="floating">First Name *</ion-label>
                    <ion-input formControlName="firstName" type="text"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-label position="floating">Last Name *</ion-label>
                    <ion-input formControlName="lastName" type="text"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-label position="floating">Title *</ion-label>
                    <ion-input formControlName="title" type="text"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-label position="floating">Email *</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md="6">
                  <ion-item>
                    <ion-label position="floating">Phone</ion-label>
                    <ion-input formControlName="phone" type="tel"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Additional Contacts</ion-card-title>
              <ion-button fill="clear" (click)="addContact()">
                <ion-icon name="add"></ion-icon>
                Add Contact
              </ion-button>
            </ion-card-header>
            <ion-card-content>
              <div formArrayName="additionalContacts">
                <ion-card *ngFor="let contact of additionalContacts.controls; let i = index" [formGroupName]="i">
                  <ion-card-header>
                    <ion-card-subtitle>Contact {{ i + 1 }}</ion-card-subtitle>
                    <ion-button fill="clear" color="danger" (click)="removeContact(i)">
                      <ion-icon name="trash"></ion-icon>
                      Remove
                    </ion-button>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-row>
                      <ion-col size="12" size-md="6">
                        <ion-item>
                          <ion-label position="floating">First Name *</ion-label>
                          <ion-input formControlName="firstName" type="text"></ion-input>
                        </ion-item>
                      </ion-col>

                      <ion-col size="12" size-md="6">
                        <ion-item>
                          <ion-label position="floating">Last Name *</ion-label>
                          <ion-input formControlName="lastName" type="text"></ion-input>
                        </ion-item>
                      </ion-col>

                      <ion-col size="12" size-md="6">
                        <ion-item>
                          <ion-label position="floating">Title *</ion-label>
                          <ion-input formControlName="title" type="text"></ion-input>
                        </ion-item>
                      </ion-col>

                      <ion-col size="12" size-md="6">
                        <ion-item>
                          <ion-label position="floating">Email *</ion-label>
                          <ion-input formControlName="email" type="email"></ion-input>
                        </ion-item>
                      </ion-col>

                      <ion-col size="12" size-md="6">
                        <ion-item>
                          <ion-label position="floating">Phone</ion-label>
                          <ion-input formControlName="phone" type="tel"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Location *</ion-label>
            <ion-input formControlName="location" type="text"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="clientForm.get('location')?.touched && clientForm.get('location')?.errors?.['required']">
            Location is required
          </ion-note>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Timezone *</ion-label>
            <ion-input formControlName="timezone" type="text"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="clientForm.get('timezone')?.touched && clientForm.get('timezone')?.errors?.['required']">
            Timezone is required
          </ion-note>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Website</ion-label>
            <ion-input formControlName="website" type="url"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Status *</ion-label>
            <ion-select formControlName="status">
              <ion-select-option value="active">Active</ion-select-option>
              <ion-select-option value="inactive">Inactive</ion-select-option>
              <ion-select-option value="potential">Potential</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!clientForm.valid || loading">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">{{ isEdit ? 'Update' : 'Create' }} Client</span>
      </ion-button>
      <ion-button expand="block" fill="clear" (click)="cancel()">
        Cancel
      </ion-button>
    </div>
  </form>
</ion-content>
